!!!
%html
  %head
    %title Animated.js | Unobtrusive CSS3 Animations
    %link{href: "css/demo.css", rel: "stylesheet"}/
    %link{charset: "utf-8", href: "css/syntax.css", media: "screen", rel: "stylesheet", title: "no title"}/
    %script{src: "js/vendor/modernizr.js"}
    %script{charset: "utf-8", src: "../src/animated.js"}

  %body
    %header
      .row
        .large-12.columns
          %h1 Animated.js
          %hr/
    %section
      .row
        .large-12.columns
          .panel
            %h2 Purpose:
            %p
              Animated.js allows you to add data properties to any block level
              element to apply CSS3 animations. For example to change the
              opacity of an element
            %pre.language-markup
              %code
                &lt;div id="opacity" data-animated-property="opacity" data-animated-from="1" data-animated-to="0"&gt;&lt;/div&gt;
            %h3
              Produces:
              %a#opacity{:href => "#", 'data-animated-property' => 'opacity', 'data-animated-from' => 1, 'data-animated-to' => 0}
                Hover Over Me



    %script{charset: "utf-8", src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{charset: "utf-8", src: "//cdn.jsdelivr.net/prism/0.1/prism.full.min.js"}
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/js/foundation.min.js"}

    :javascript
      $(document).foundation();
      $(document).ready(function(){ animated = new Animated(); });
